/* add global styles that can be loaded post LCP here */
@import "https://cdn.jsdelivr.net/npm/@webtui/plugin-nf@latest/dist/index.css";
@import "https://cdn.jsdelivr.net/npm/@webtui/theme-catppuccin@latest/dist/index.css";
@import "https://cdn.jsdelivr.net/npm/@webtui/css@0.0.5/dist/components/checkbox.css";
@import url('https://db.onlinewebfonts.com/c/6d2ac8672f2eb25e2d0f0b52465f00f8?family=IBM+3270');

@layer base {
  :root {
    --font-family: 'IBM 3270', 'Symbols Nerd Font', Menlo, Monaco, monospace;
    --line-height: 2;
  }
  
  /* Double font size for screens wider than 1400px */
  @media (min-width: 1400px) {
    :root {
      --font-size: 32px;
    }
  }
}

@layer components {
  [is-="button"] {
    height: 2lh;
    margin: 1lh 0;
  }
}
